# Dependencias
node_modules/

# Sesión de WhatsApp (¡MUY IMPORTANTE!)
# Si tu carpeta de sesión se llama 'session' o 'auth', cámbialo aquí
sessions/
auth/
auth_info_baileys/
scratch/

# Variables de entorno (Claves de API, DB, etc.)
.env

# Logs y multimedia temporal
*.log
temp/
tmp/
database/*

bun.lock
package-lock.json

tests
# Sesiones de sub-bots
sessions/

# Sistema
.DS_Store
Thumbs.db
.vscode/
